.group {
  width: 100%;
}

.alignLeft {
  justify-content: flex-start;
}

.alignCenter {
  justify-content: center;
}

.alignRight {
  justify-content: flex-end;
}

.itemButton {
  min-width: 140px;
}

.matchWidth {
  width: 100%;
}

.matchWidthButton {
  flex: 1 1 0;
  width: 100%;
  min-width: 0;
}
